# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
py_venv/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Credentials
*.json
.env
earth-engine-entropygg.json